<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mail_mvp_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,5},{204,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,45}}</string>
                <key>sourceSize</key>
                <string>{204,45}</string>
            </dict>
            <key>Mail_mvp_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,5},{117,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,29}}</string>
                <key>sourceSize</key>
                <string>{117,29}</string>
            </dict>
            <key>Mail_mvp_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,128},{91,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,39}}</string>
                <key>sourceSize</key>
                <string>{91,39}</string>
            </dict>
            <key>Mail_mvp_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,225},{14,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,13}}</string>
                <key>sourceSize</key>
                <string>{14,13}</string>
            </dict>
            <key>Mail_mvp_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,56},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_MailOther_face.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a836a25803a2966224c45df86a376c9d:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_MailOther_face.png</string>
        </dict>
    </dict>
</plist>
